@import "compass/utilities/general/clearfix";
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

.translated-word {
    color: red;
    border-bottom: 1px red dotted;
}
.lookedup-word {
    color: #FF7373;
}

section[data-translate] {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/69123/notebook.png);
    font-family: 'Lato', sans-serif;
    padding: 10px 0px;
    margin: 10px;
    color: #6C6C6C;
    @include clearfix();

    .prose, .definitions {
        @include clearfix();
        height: 100%;
        line-height: 27px;
        font-size: 20px;
        font-weight: 400;
    }
    .prose {
        padding: 24px 20px;
    }
    .definitions {
    }
}
